{% load staticfiles %}

<html>
<head>
	<title>
		home
	</title>
	<!-- <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
 	<script>
		var ALARM_URL = "subs";
		function refresh() {
		  $.ajax({
		  url: ALARM_URL,
		  success: function(data) {
		    $('#right').html(data);
		  }
		 });
		}        
        $(document).ready(function () {
		  setInterval(function(){ refresh();}, 5000);
		  // setInterval(function(){ alert("Hello"); }, 5000);
	      console.log( "ready!" );
		})
	</script>

</head>
<body>
<br>
<!-- navigation -->

<nav class="navbar navbar-default navbar-fixed-top headercolor ">
	<div class="container-fluid ">
		<br>
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
			<a href="home.html">
				Home
			</a>
		</div>
		<div class="col-md-2">
			<a href="working.html">
			How it works
			</a>
		</div>
		<div class="col-md-1">
			<a href="contact.html">
			 Contact
			</a>
		</div>
		{% block content %}
		{% endblock %}

	</div>
</nav>
<br>

<div class="container">
	<div class="row">
		<div class="col-md-9">
		    <h3>
			Build your vocabulary and Learn a new language using movies and media. 
			</h3>
		</div>
		<div class="col-md-3 checkbox">
		<br>
		&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
		  <label>
	        <input type="checkbox" value="remember-me"> Remember me
	      </label>
		</div>
	</div>
</div>
<div class="container">
    <div class="col-md-8">

    <iframe width= 100% height= 65%
		src="http://www.youtube.com/embed/OC83NA5tAGE?autoplay=0">
	</iframe>
	<h3 class="sutitlesborder">
	<div id="right"> 
	{{subtitles}}
	</div>
	</h3>
    </div>

    <div class="col-md-4">
<!--       &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <img src="{%static 'media/polyglot.JPG'%}"style="width:150px;height:150px;"> -->
  		<form class="form-signup">
  		<h2>SignUp</h2>
  		<div class="row">
	  		<div class="col-md-6">
	  		<label for="fname" class="sr-only">Name</label>
	  	    <input type="text" id="fname" class="form-control" placeholder="First Name" required autofocus>
	    	</div>
	    	<div class="col-md-6">
	  		<label for="lname" class="sr-only">Last Name</label>
	  	    <input type="text" id="lname" class="form-control" placeholder="Last Name" required autofocus>
	    	</div>
	    </div>
	    <label for="inputEmail" class="sr-only">Email address</label>
	    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
	    <label for="inputPassword" class="sr-only">Password</label>
	    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
	    <button class="btn btn-default btn-primary btn-block" type="submit">Signup</button>

	    </form>

	  <h3 class="meaningsborder">
	  	 Meanings of new vocabulary are displayed here
	  </h3>
    </div>
</div> <!-- /container -->
</body>
</html>